.main{
    width: 100%;
    height: 100%;
    background-color: bisque;
}
.div1{
    background-color: red;
    text-align: center;
    height: 50px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.div2{
    background-color: yellow;
    text-align: center;
    height: px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%; 
    height: 50%;
    display: flex;
}
.div3{
    background-color: green;
    width: 100%;
    height: 50%;
   
}
.div4{
    /* background-color: blue; */
    width: 100%;
    height: 50%;
    
}
.div5{
    background-color: green;
    width: 50%;
    height: 100%;
}
.div6{
    background-color: blue;
    width: 100%;
    height: 50%;
}
