.parent{
    background-color: black;
    width: 115%;
    padding-bottom: 20px;
}
.div1{
    background-color: aquamarine;
    display: flex;
}
.a{
background-color: black;
width: 50%;
color: #b7b1b1;
padding-left: 20px;

}
.a1{
    display: flex;
}
.a2{
    display: flex;
    margin-top: -36px;
    align-items: center;
    width: 123%;
}
.star{
    display: flex;
    padding-right: 13px;
}
.a22{
    display: flex;
    width: 30%;
}

.a3{
    width: 50%;
}

.a4{
    display: flex;
    margin-left: 1px;
}
.a41{
    padding-left: 11px;
    background-color: silver;
    width: 75px;
    color: #cd0606;
    height: 54px;
}
.a42{
    font-style: oblique;
    width: 211px;
    height: 55px;
    margin-top: -9px;
    margin-bottom: 6px;
    margin-left: 17px;
}
.b{
    background-color: black;
    width: 50%;
}
.title{
    font-size: 30px;
    color: white;
    margin-top: -39px;
}

.i1{
    margin: 0px 5px;
}
.i2{
    margin-right: 5px;
}
.i3{
    margin-right: 5px;
}
.i4{
    margin-right: 5px;
}
.div2{
    background-color: black;
    display: flex;
    height: 183px;
}
.div2 :hover{
    border: 3px solid white;
}
.tt2{
    color: white;
    font-size: 30px;
    margin-top: 21px;
    margin-bottom: 9px;
}
.div3{
    display: flex; 
    height: 179px;
}
.l1{
    margin: 0px 5px;
}
.l2{
    margin-right: 5px;
}
.l3{
    margin-right: 5px;
}
.l4{
    margin-right: 5px;
}
.div3 :hover{
    border: 3px solid white;
}