.div1{
    width: 100%;
    background-color: brown;
    color: rgb(220, 207, 189);
    position: relative;
    padding :8rem;
    padding-top: 1rem;
}
.div2{
    padding-top: 10rem;
    position: absolute;
    padding: auto;
    padding-left: 8rem;
    font-style: normal ;
   
}
.div3{
    padding-top: 13rem;
    position: absolute;
    padding: auto;
    padding-left: 8rem;
    color: burlywood;
    font-style: italic;
}
