.div1{
    width: 100%;
    background-color: rgb(225, 162, 162);
    height: 100px;
    margin: 0px 0px 0px 0p;
    padding-left: 532px;
    padding-right: 532px;
    padding-bottom: px;
    padding-top: 44px;
}
.div2{
    width: 100%;
    background-color: rgb(186, 160, 160);
    height: 100px;    padding-bottom: 1px;
    padding-top: 53px;
    width: 100%;
    background-color: rgb(186, 160, 160);
    height: 100px;
    padding-left: 555px;
}
