.parent{
   text-align: center;
   background-color: aquamarine;
}
.main{
    background-color: white;
    width: 30%;
    text-align: center;
    margin: 4rem 32rem;
}

.div1{
    color: brown;
}
.icon{
    color: red;
    display: flex;
    justify-content: space-around;
}