.div1{
    width: 100%;
    background-color: white;
    color: rgb(191, 139, 107);
}
.div2{
    width: 100%;
    background-color: white;
    color: black;
}
.div3{
    width: 100%;
    background-color: white;
    color: black;
    font-size: 12px;
}
.div4{
    
    background-color: rgb(39, 39, 111);
    color: white;
    
    margin: 68px 100px 68px 100px;
   
    height: 480px;
    border:solid white;
    border: solid white;
   
    padding-top: 10rem;
}
.div5{
    text-align: end;
    padding-top: 12rem;
}